h1           { font-family: Calibri; color: #1D3A58; font-size: 14pt; font-weight: bold; }
a            { font-family: Calibri; font-size: 12px; color: #222222; font-weight: normal; text-decoration:none; }
a:active     { font-family: Calibri; font-size: 12px; color: #111111; font-weight: bold; text-decoration:none; }
a:hover      { font-family: Calibri; font-size: 12px; color: #222222; font-weight: normal; text-decoration:underline; }
a:link       { font-family: Calibri; font-size: 12px; color: #111111; font-weight: normal; text-decoration:none;}
a:visited    { font-family: Calibri; font-size: 12px; color: #222222; font-weight: normal; text-decoration:none; }
.toplink            { font-family: Calibri; font-size: 10px; color: #222222; font-weight: normal; text-decoration:underline;padding:0px; }

ul           { padding:0px; margin:0px; list-style-type: none;line-height:90%;}
li           { padding:0px; margin:0px; line-height:90% }


h2           { color: #222222; font-family: Calibri; font-size: 12px; font-weight: bold; }
/*p                                             { margin:12px; text-align:left }*/
FIELDSET{margin-top:12px;margin-bottom:0px;padding:0px;}



.leftnav{
width:198px;
background-color: #e7e7e7;
background-image: url('../images/leftnav_bg.gif');
background-repeat: repeat-x;
border-right: solid 1px #002c55;
padding:0px;
margin:0px; 
height:700px;
}

.maincontent{
width: 100%;
background-color:#ffffff; 
height: 100%;
}
.content{
background-color:#ffffff; 
height: 100%;
padding-left:12px;
padding-right:12px;
padding-bottom:12px;
}
.topnav{
width:100%;
height:26px;
text-align:left;
background-image: url('../images/top_blue_bar.gif');
background-repeat: repeat-x;
}
.headermid{
width:100%;
text-align:left;
background-image: url('../images/header_spacer.jpg');
background-repeat: no-repeat;
}

.maintable{
width:100%;
cellpadding:0px;
cellspacing:0px;
}
.header{
background-image: url('../images/header_bg.gif');
background-repeat: repeat-x;
width:100%;
text-align:left;
padding:0px;
margin:0px;}

 body {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#d7d7d7;
}
 td {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
 input {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
 select {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.listColHeaderText,.listColHeaderText2 {
	width: 100%;
	height: 100%;
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;	
	color: #1D3A58;
	text-decoration: none;}


	.listColHeader {
	height: 19px;
	background-image: url('../images/list-table-header-bg.gif');
	padding-left: 2px;
	padding-right: 1px;
	background-repeat:repeat-x;
	border-left:1px solid #999999;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
padding-bottom:0px;
}

	.listColHeaderRight {
	height: 19px;
	background-image: url('../images/list-table-header-bg.gif');
	padding-left: 6px;
	padding-right: 1px;
	background-repeat:repeat-x;
	border-right:1px solid #999999;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
		border-left:1px solid #999999;


}

.listcolbodytext{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
	padding-left:4px;
	}
.listcolbodytextRadio{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
	padding-left:4px;
	}
	.listcolbodytextGrey{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
	padding-left:4px;
	
	}
	 .input2 {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
		
	border: 1px solid #f7fcff;

}
	 .input3 {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
		background-color:#ffffff;
	border: 1px solid #ffffff;

}
		.listcolbodytextGreyRadio{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
	padding-left:4px;
	
	}
		.listcolbodytextH{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding-bottom:0px;
	padding-left:4px;
	background-color:#f7df80;
	}
.listcolbodytextRight{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	padding-bottom:0px;
	border-left:1px solid #999999;
		padding-left:4px;

	}

.listcolbodytextRightGrey{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	padding-bottom:0px;
	border-left:1px solid #999999;
		padding-left:4px;

	

	}
	.listcolbodytextRightH{
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;	
	color: #1D3A58;
	text-decoration: none;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	padding-bottom:0px;
	border-left:1px solid #999999;
		padding-left:4px;

	background-color:#f7df80;

	}
.tabcell4single {
	background-image: url('../images/selected-tab4.gif');
	height: 21px;
	text-align: center;	
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;	
	color: #212148;
	text-decoration: none;
	background-repeat: no-repeat;
}
 .odd{background-color: #f7fcff;} 
 .even{background-color: #ffffff;} 
.whitefont{
color:#ffffff;
}
.whitebold{
color:#ffffff;
font-size:13px;
font-weight:bold;
}