h2{
vertical-align: top;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 14px;
	color: #4d4d4d;
	font-weight: bold;
	text-decoration: none;
	margin-left:12px; 
	margin-top:6px

}
#footer{
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 11px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: none;
	background-color:#ffffff;
	position:relative;
	float:left;
	width:100%;
	height:27px;
	

}
 body {
 	
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#d7d7d7;
}
#topnavdiv{
	background-image: url('../images/top_nav_bg.gif');
	background-repeat: repeat-x;
	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #ffffff;
	position:relative; float:left;
	width:100%;
	height:27px;
	

}
ul           
{ list-style-type: square; color:  #ec933f; line-height:150%;
    }
.ul-level2           
{ list-style-type: circle; color:  #ec933f; line-height:150%;

    }
 .bulletFont{
	color:#4d4d4d;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;

}
   .activeTopNavLink{
 color:#ffff00;
 	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
		text-decoration:none;
		margin-top:6px;


 }
    .activeTopNavLink:link{
 color:#ffff00;
 	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
		text-decoration:none;
		margin-top:6px;


 }
    .activeTopNavLink:hover{
 color:#ffff00;
 	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
		text-decoration:none;
		margin-top:6px;


 }
     .activeTopNavLink:active{
 color:#ffff00;
 	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
		text-decoration:none;
		margin-top:6px;


 }
.activeTopNavLink:visited{
 color:#ffff00;
 	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	text-decoration:none;
	margin-top:6px;


 }
 .topnavlink{
	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #ffffff;
	cursor:hand;
	text-decoration:none;
	margin-top:6px;
}
 .topnavlink:link{
	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #ffffff;
	cursor:hand;
	text-decoration:none;
	margin-top:6px;
}
  .topnavlink:hover{
	vertical-align: middle;
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #000000;
	cursor:hand;
	text-decoration:none;
	margin-top:6px;
	background-color:#dddddd;
}
a{
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: underline;

}
a:link{
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: underline;

}
a:active{
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: underline;

}
a:hover{
	font-family: Calibri, Arial, Tahoma, Verdana;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: none;

}
#main{position:relative;width:953px; height:100%;padding-top:12px;margin-bottom:6px;}
#headerdiv{position:relative; float:left;display:inline-block;width:953px;padding:0px;margin:0px;background-image:url('../images/headerbg.gif');background-repeat:repeat-x;}
#contentarea{background-color:#ffffff;padding-left:14px;position:relative;float:left; padding-right:14px;width:925px;}
#contentpanelbottom{display-inline:block;width:100%;background-color:#ffffff;position:relative;float:left;}
#welcome{width:65%;background-color:#f6f7ff;position:relative;float:left;}
#lefttop{position: relative;float:left; left: 0px; top: 0px;}
#righttop{position: relative;float:right;  right: 0px; top: 0px;}
#welcome2{width:100%;background-color:#f6f7ff;position:relative;float:left;}
.Left12Right12{margin-left:12px;margin-right:12px;}
#leftbottom{position: relative;float:left; left: 0px; bottom: 0px;}
#rightbottom{position: relative;float:right; right: 0px; bottom: 0px;}
#why{width:30%;background-color:#ffffff;position:relative;float:left;padding-left:20px;}
.Left12Right12Top6{margin-left:12px;margin-right:12px;margin-top:6px;}
hr{margin-left:10px; margin-right:10px;color:#abb4ba;}
#footermiddle{position: relative;float:left;width:929px;height:12px;background-color:#ffffff;}
#footerend{position: relative;float:left;width:100%;}
.Left0Top0{margin-left:0px; margin-top:0px;}
#img1{display:none; position:absolute;top:135px;left:125px; height:459px;width:710px;z-index:30;border:1px solid #dddddd;background-color:#ffffff;}
#img2{display:none; position:absolute;top:135px;left:125px; height:440px;width:670px;z-index:30;border:1px solid #dddddd;background-color:#ffffff;}
.Right12Bottom12{margin-right:12px;margin-bottom:12px}
.Top12{margin-top:12px;}
.Top0Left12{margin-top:0px;margin-left:12px;}
.Top6{margin-top:6px;}
.Top2Left14{margin-top:2px;margin-left:14px;}
#who{width:500px;border:1px solid #dddddd;position:relative;margin:0px;padding:0px;}
.Left12Right12bottom6{margin-left:12px;margin-right:12px;margin-bottom:6px;}
#map{width:425px;position:relative;float:left;}
#mapmain{width:425px%;position:relative;float:left;}
#whocontact{width:425px;border:1px solid #dddddd;position:relative;margin:0px;padding:0px;}


